
html, body {
  margin: 0;
  overflow: hidden;
  font-family: Raleway, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.hexagon {
  display: block;
  position: relative;
  width: 20vw;
  height: 11.5vw;
  margin: 6.4vw 0;
  left: 50%;
}
.hexagon.inner {
  width: 18vw;
  height: 10.3vw;
  margin: 5.8vw 0;
  background-color: white;
  left: 1vw;
  top: 0.70vw;
  z-index: 50;
  transition: 300ms opacity;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
}
.hexagon.inner:before,
.hexagon.inner:after {
  border-left: 9vw solid transparent;
  border-right: 9vw solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 6.4vw solid black;
}
.hexagon.inner:before {
  border-bottom: 5.8vw solid white;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 6.4vw solid black;
}
.hexagon.inner:after {
  border-top: 5.8vw solid white;
}
.text, .subtext {
  position: absolute;
  text-align: center;
  z-index: 100;
  top: 50%;
  left: 50%;
  transition: 300ms color;
}
.text {
  font-size: 5vw;
  transform: translate(-50%, -75%);
}
.subtext {
  font-size: 2vw;
  transform: translate(-50%, +50%);
}

#api, #tests, #coverage {
  width: 33vw;
  height: 100vh;
  text-align: center;
  float: left;
}

#api .text, #api .subtext {
  color: #64C7CC;
}
#api > .hexagon {
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #64C7CC;
}
#api > .hexagon:before {
  border-bottom-color: #74D7DC;
}
#api > .hexagon:after {
  border-top-color: #74D7DC;
}

#coverage .text, #coverage .subtext {
  color: #f39c12;
}
#coverage .text {
  font-size: 3.8vw;
}
#coverage > .hexagon {
  top: 20vh;
  left: 25%;
  transform: translateX(-50%);
  background-color: #f39c12;
}
#coverage > .hexagon:before {
  border-bottom-color: #f3ac22;
}
#coverage > .hexagon:after {
  border-top-color: #f3ac22;
}

#tests .text, #tests .subtext {
  color: #7e349d;
}
#tests > .hexagon {
  top: 20vh;
  left: 75%;
  transform: translateX(-50%);
  background-color: #7e349d;
}
#tests > .hexagon:before {
  border-bottom-color: #8e44Ad;
}
#tests > .hexagon:after {
  border-top-color: #8e44Ad;
}

.hexagon:hover .hexagon.inner {
  opacity: 0;
}
.hexagon:hover .text,
.hexagon:hover .subtext {
  color: white !important;
}
